---
data: sitecontent.contactPage
permalink: "contact.html"
layout: layout.liquid
eleventyComputed:
  title: "{{ sitecontent.contactPage.fields.title }}"
---
Global: {{globals.test}} 

<h1>
  title: {{ sitecontent.contactPage.page.fields.title }}
</h1>
<div>
  image <img src="{{sitecontent.contactPage.image}}" />
</div>
<div>
  content: {{ sitecontent.contactPage.content }}
</div>