---
layout: layout.liquid
---
Global: {{globals.test}} 

<h1>
  title index: {{ sitecontent.homePage.page.fields.title }}
</h1>
<div>
  image <img src="{{sitecontent.homePage.image}}" />
</div>
<div>
  content: {{ sitecontent.homePage.content }}
</div>
{% comment %} 
<div>
  <ul>
  {% for news in content.news.items %}
    <li>
    {{ news.fields.title }}
    </li>
  {% endfor %}
  </ul>
</div>
{% endcomment %}