---
data: sitecontent.membershipPage
permalink: "membership.html"
layout: layout.liquid
eleventyComputed:
  title: "{{ sitecontent.membershipPage.fields.title }}"
---
Global: {{globals.test}} 

<h1>
  title: {{ sitecontent.membershipPage.page.fields.title }}
</h1>
<div>
  image <img src="{{sitecontent.membershipPage.image}}" />
</div>
<div>
  content: {{ sitecontent.membershipPage.content }}
</div>
